body {
  margin: 1em;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}
div#card{}

style{}

#card {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 550px;
  background-color: #E6E6E6;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  opacity: 0.5;
  height: 2em;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}
.eg-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50vw;
  }
footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

